{% extends "base.html" %}

{% block title %}
    Profile | {{ block.super }}
{% endblock %}

{% block header %}
    <h1>Your account</h1>
{% endblock %}

{% block content %}
	<div class="content_set">
		<div class="content_set_title">Claim a World</div>
		<div class="content_set_content">
			{% if message %}
				<span style="font-size:80%"><i>{{ message }}</i></span>
			{% endif %}
			<form method="POST" action=".">{% csrf_token %}
				World name: 
				<input type="text" name="worldname" value="">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>

	{% if worlds_owned %}
		<div class="content_set">
			<div class="content_set_title">Worlds you own</div>
			<div class="content_set_content">
				<ul>
					{% for world in worlds_owned %}
					<li><a href="{{ world.get_absolute_url }}">{{ world }}</a>, 
						{% if world.public_writable %}
							publicly editable,
						{% else %}
							{% if world.public_readable %}
								publicly visible (but not editable),
							{% else %}
								not publicly visible,
							{% endif %}
						{% endif %}
						{% with world.whitelist_set.count as num_wl %}
							{{ num_wl }} member{{ num_wl|pluralize }}.
						{% endwith %}

						<a href="{% url configure world.name %}">options</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
	{% if memberships %}
		<div class="content_set">
			<div class="content_set_title">World you belong to</div>
			<div class="content_set_content">
				<ul>
				{% for world in memberships %}
					<li><a href="{{ world.get_absolute_url }}">{{ world }}</a>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

{% endblock %}

